<!DOCTYPE html>
<html lang="en">
<head>
  <title>登录</title>
  <%- include head %>
</head>
<body>
  <div class="container">
    <h1 class="margin-b-20">登录</h1>
    <form action="/users/login" class="margin-b-40" method="post">
      <input class="margin-b-20" type="text" name="username" value="" placeholder="请输入用户名"><br>
      <input class="margin-b-20" type="password" name="password" value="" placeholder="请输入密码"><br>
      <button class="button button-login" type="submit">登录</button>
    </form>
  </div>
</body>
</html>