<!DOCTYPE html>
<html lang="en">
<head>
  <title>注册</title>
  <%- include head %>
</head>
<body>
  <div class="container">
    <h1 class="margin-b-20">注册</h1>
    <form action="/users/regist" class="margin-b-40" method="post">
      <input class="margin-b-20" type="text" name="username" value="" placeholder="请输入用户名"><br>
      <input class="margin-b-20" type="password" name="password" value="" placeholder="请输入密码"><br>
      <input class="margin-b-20" type="password" name="password2" value="" placeholder="请确认密码"><br>
      <button class="button button-regist" type="submit">注册</button>
    </form>
    <div>已有账号,<a href="/login">立即登录!</a></div>
  </div>
</body>
</html>