/** Clear inner and outer margins **/
body, h1, h2, h3, h4, h5, h6, hr, p, /* structural elements structural element */
dl, dt, dd, ul, ol, li, /* list elements list element */
form, fieldset, legend, button, input, textarea, /* form elements form element */
th, td /* table elements table element */ {
margin: 0;
padding: 0;
}
/** تعيين الخط الافتراضي **/
body,
button, input, select, textarea /* for ie */ {
font: 14px/1.5 tahoma,;
}


small { font-size: 12px; } /* من الصعب قراءة اللغة الصينية التي يقل حجمها عن 12 بكسل ، وتكون صغيرة الحجم*/
/** إعادة تعيين عنصر القائمة **/
ul, ol { list-style: none; }
/** إعادة تعيين عناصر تنسيق النص **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }
sup { vertical-align: text-top; } /*إعادة تعيين ، تأثير أقل على ارتفاع الصف */
sub { vertical-align: text-bottom; }
/** إعادة تعيين عناصر النموذج **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /*  */
button, input, select, textarea { font-size: 100%; } /* Save translation
جعل عناصر النموذج ترث حجم الخط تحت ie*/
/*ملاحظة: لا يمكن تصحيح optgroup */
/** إعادة تعيين عنصر الجدول **/
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

a {
  color: #00B7FF;
}

.flex {
  display: flex;
}

.container {
  width: 944px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

input {
  width: 300px;
  height: 20px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
  background:none;  
	outline:none;  
	border:1px solid #ddd;
}

.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-40 {
  margin-bottom: 40px;
}

.button {
  width: initial;
  height: 40px;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background: #00B7FF;
  border:1px solid #ddd;
}

.button-regist, .button-login {
  width: 330px;
}

th, td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}